# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

iriscode/createiristemplate.m
iriscode/Matching/gethammingdistance.m
iriscode/Matching/shiftbits.m
iriscode/Normal_encoding/encode.m
iriscode/Normal_encoding/gaborconvolve.m
iriscode/Normal_encoding/normaliseiris.m
iriscode/README.txt
iriscode/Segmentation/addcircle.m
iriscode/Segmentation/adjgamma.m
iriscode/Segmentation/canny.m
iriscode/Segmentation/circlecoords.m
iriscode/Segmentation/findcircle.asv
iriscode/Segmentation/findcircle.m
iriscode/Segmentation/findline.m
iriscode/Segmentation/houghcircle.m
iriscode/Segmentation/hysthresh.m
iriscode/Segmentation/linecoords.m
iriscode/Segmentation/nonmaxsup.m
iriscode/Segmentation/segmentiris.m
segmentation.asv
IMG_20141115_172605.jpg
linecoords.m
try_lines.m